<div class="text-field">
  <%= form.label :Name %>
  <%= form.text_field :name, type: 'text' %>
</div>

<div class="text-field">
  <%= form.label :Email %>
  <%= form.text_field :email, type: 'email' %>
</div>

<div class="password-field">
  <%= form.label :Password %>
  <%= form.password_field :password %>
</div>

